<#--  <div class="login-logo">
  <img src="<@ofbizUrl>../static/logo/ap-logo-mini.jpeg</@ofbizUrl>" width="150px"/>
</div>  -->

  <div id="loginSidebarLogo">
    <img src='../static/images/loginPage-2.jpeg' id='loginSidebarImage' style="height: 722px;"/>
  </div>