/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
body {
  overflow-x: hidden;
}

.userName {
  color: #adb5bd !important;
}

a:hover,
.userName:not(:hover) {
  text-decoration: none;
  color: #007bff;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 4px;
  vertical-align: middle;
  font-size: 1rem;
  color: lightblue;
  text-align: center;
}

#sidebar-wrapper .sidebar-heading a,
a:hover {
  text-decoration: none;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  padding-top: 6px;
}

#wrapper.collapse #sidebar-wrapper .list-group {
  position: relative;
  width: 70px;
  transition: all 0.3s ease;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 307px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}


.material-icons {
  vertical-align: top;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 5px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 60px;
}

table.table tr th:last-child {
  width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}

table.table td .user-name {

  color: #566787;
  display: inline-block;
  text-decoration: none;
}


table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.table-title {
  background: #eee;
  padding: 10px 20px;
  border-radius: 0 0 8px 8px;
  color: #555;
  border: 1px solid #ddd;
}

/*.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}*/
.table-title .btn {
  float: right;
  font-size: 13px;
  min-width: 50px;
  border-radius: 3px;
  outline: none !important;
  margin-left: 10px;
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-content {
  padding: 10px 0;
}

.status {
  font-size: 45px;
  margin: 3px 0 0 0;
  display: inline-block;
  vertical-align: top;
  line-height: 10px;
}

.text-success {
  color: #10c469;
}

.text-info {
  color: #62c9e8;
}

.text-warning {
  color: #FFC107;
}

.text-danger {
  color: #ff5b5b;
}

.sidebar-icons {
  padding-right: 5px;
  font-size: 1.25em !important;
}


.menu-ico-collapse {
  margin-left: 4px;
}

.list-group-submenu .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-submenu .list-group-item:last-child {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.mandatory {
  color: red;
}

.is-pointer {
  cursor: pointer;
}

/* Icon Colors */

.icon-green {
  color: green;
}

.icon-darkgreen {
  color: darkgreen;
}

.icon-orange {
  color: darkorange;
}

.icon-indianred {
  color: indianred;
}

.icon-darkmagenta {
  color: darkmagenta;
}

.icon-chocolate {
  color: chocolate;
}

.icon-midnightblue {
  color: midnightblue;
}

.icon-darkgray {
  color: dimgray;
}

.icon-yellowgreen {
  color: yellowgreen;
}

.icon-color-active {
  color: white;
}

.number-right {
  text-align: right;
}


.main-head {
  height: 150px;
  background: #FFF;

}

/* .login-sidenav {
  height: 100%;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding-top: 20px;
}


.login-main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) {
  .login-main {
    margin-left: 40%;
  }

  .login-sidenav {
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .login-form {
    margin-top: 40%;
  }

  .register-form {
    margin-top: 20%;
  }
} */


.login-sidenav {
  /* height: 100%;
  background-color: #3E83ED;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 50px;
  margin-right: 50px;*/
  width: 55%;
  left: 0px;
  height: 100%;
  position: fixed;
}

.login-main {
  width: 45%;
  right: 0px;
  height: 100%;
  position: absolute;
}

.login-form {
  margin: 20% 20% 0 20%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
  background-color: white;
}

#loginSidebarImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

@media screen and (max-width: 1100px) {
  .login-form {
    margin: 10% 30% 0 30%;
  }

  .login-sidenav {
    width: 100%;
    left: 0px;
    height: 100%;
    position: fixed;
  }

  .login-main {
    height: 100%;
    position: fixed;
    margin: auto;
    width: 100%;
    padding: 10px;
  }

  #loginSidebarImage {
    width: 100%;
    opacity: 0.7;
  }
}

/* @media screen and (min-width: 768px) {
  .login-main {
    margin-left: 40%;
  }

  .login-sidenav {
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .login-form {
    margin-top: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
  }
} */

.login-logo {
  padding-top: 10px;
}

.login-logo {
  padding: 0 50px;
}

.login-main-text {
  /* margin-top: 5%;
  padding: 50px; */
  color: #111;
}

.login-main-text h2 {
  font-weight: 300;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #aaaa;
  border-radius: 5px;
}

.input-container input {
  border: 0;
  outline: none;
}

.fa-eye {
  margin: 10px;
  color: #aaa;
}

.fa.active {
  color: #1779ff;
}

.envelop {
  margin: 10px;
  color: #1779ff;
}

.p_eye {
  cursor: pointer;
}

.progress-bar-style {
  aria-valuenow: "25";
  aria-valuemin: "0";
  aria-valuemax: "100";
}