/*
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
 body {
  overflow-x: hidden;
}

a {
  color: #000000;
}

.userName {
  color: #adb5bd !important;
}

a:hover,
.userName:not(:hover) {
  text-decoration: none;
  color: #007bff;
}

/* .userName:hover {
  color: #24d301 !important;
  text-decoration: none !important;
} */

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  /* padding: 0.875rem 1.25rem; */
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

@media (min-width: 334px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

#wrapper.collapse #sidebar-wrapper .list-group {
  position: relative;
  top: 5px;
  width: 70px;
  transition: all 0.3s ease;
}

.material-icons {
  vertical-align: top;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 60px;
}

table.table tr th:last-child {
  width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}

table.table td i {
  font-size: 19px;
}

table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.table-title {
  background: whitesmoke;
  color: #4e555b;
  padding: 16px 10px;
  border-radius: 0 0 10px 10px;
  border: none;
  margin-bottom: 8px;
}

.table-title .btn {
  float: right;
  font-size: 13px;
  min-width: 50px;
  border-radius: 2px;
  margin-left: 10px;
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.status {
  font-size: 45px;
  margin: 2px 2px 0 0;
  display: inline-block;
  vertical-align: top;
  line-height: 10px;
}

.text-success {
  color: #10c469;
}

.text-info {
  color: #62c9e8;
}

.text-warning {
  color: #FFC107;
}

.text-danger {
  color: #ff5b5b;
}


.menu-ico-collapse {
  margin-left: 4px;
}

.list-group-submenu .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-submenu .list-group-item:last-child {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.bg-light {
  background-color: #fbf6f9 !important;
}

.list-group-item.active {
  color: #000;
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: rgba(0, 0, 0, .125) !important;
  ;
}

.login-sidenav {
  /* height: 100%;
  background-color: #3E83ED;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 50px;
  margin-right: 50px;*/
  width: 55%;
  left: 0px;
  height: 100%;
  position: fixed;
}

.login-main {
  width: 45%;
  right: 0px;
  height: 100%;
  position: absolute;
}

.login-form {
  margin: 20% 20% 0 20%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
  background-color: white;
}

#loginSidebarImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

@media screen and (max-width: 1100px) {
  .login-form {
    margin: 10% 30% 0 30%;
  }

  .login-sidenav {
    width: 100%;
    left: 0px;
    height: 100%;
    position: fixed;
  }

  .login-main {
    height: 100%;
    position: fixed;
    margin: auto;
    width: 100%;
    padding: 10px;
  }

  #loginSidebarImage {
    width: 100%;
    opacity: 0.7;
  }
}

/* @media screen and (min-width: 768px) {
  .login-main {
    margin-left: 40%;
  }

  .login-sidenav {
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .login-form {
    margin-top: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
  }
} */

.login-logo {
  padding-top: 10px;
}

.login-main-text {
  /*margin-top: */
  padding-top: 80px;
  padding-right: 20px;
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.mandatory {
  color: red;
}


.sidebar-icons {
  padding-right: 5px;
  font-size: 1.25em !important;
}

.icon-darkred {
  color: darkred;
}

.icon-green {
  color: green;
}

.icon-darkgreen {
  color: darkgreen;
}

.icon-orange {
  color: darkorange;
}

.icon-indianred {
  color: indianred;
}

.icon-darkmagenta {
  color: darkmagenta;
}

.icon-chocolate {
  color: chocolate;
}

.icon-midnightblue {
  color: yellowgreen;
}

.icon-darkgray {
  color: dimgray;
}

.icon-yellowgreen {
  color: yellowgreen;
}

.icon-blue {
  color: #007bff;
}

.icon-color-active {
  color: white;
}

.dashboard-widget {
  padding-top: 10px;
}

.widget-body {
  background-color: #efefef;
}

.card-padding {
  padding: 1px;
}

#table-user-icon {
  width: 22px;
  height: auto;
}

.progress-bar-style {
  aria-valuenow: "25";
  aria-valuemin: "0";
  aria-valuemax: "100";
}

.card-user-icon {
  width: 77px;
  padding-right: 2px;
}

.card-subscription-icon {
  width: 75px;
}

.card-product-icon {
  width: 85px;
  padding-right: 10px;
}

.table-style {
  background-color: #efefff;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #aaaa;
  border-radius: 5px;
}

.input-container input {
  border: 0;
  outline: none;
}

.fa-eye {
  margin: 10px;
  color: #aaa;
}

.fa.active {
  color: #007bff;
}

.organization {
  margin: 10px;
  /* color: purple; */
}

.envelop {
  margin: 10px;
  /* color: purple; */
}

.p_eye {
  cursor: pointer;
}

#problemDescription,
#problemStatement,
#problemDescription {
  border: rgba(0, 0, 0, 0.125);
}

.list-group-item-action {
  border: none !important;
}

.list-group-item-action:hover {
  background-color: white !important;
  color: black !important;
  font-weight: 500 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-top: 3px solid #007bff;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  border-bottom: 0px !important;
}

.list-group-item.basePattern:first-child,
.list-group-item.solutionDesigns:first-child {
  border-top: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.counter {
  display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  background-color: #007bff;
  border-radius: 20px;
}

/* li.list-group-item.searchResult:hover,
a.link:hover {
  border-left: 2px solid #007bff !important;
  border-right: 2px solid #007bff !important;
} */

.leftRightSolidBorder {
  border-left: 2px solid #007bff !important;
  border-right: 2px solid #007bff !important;
}